body {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    background-color: #f6f8f8;
    color: #5a6673;
    text-shadow: 0 -1px #FFF;
    text-align: center;
}

a {
    color: #0637B3;
    text-decoration: none;
}

a:visited {
    color: #005580;
}

a:hover,
a:focus {
    text-decoration: underline;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    margin: 10px 0 30px;
}

ul {
    list-style: none;
    margin: 70px 0 40px;
    padding: 0;
    overflow: hidden;
}

li {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.box {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 5px solid #EEE;
    text-shadow: none;
    width: 400px;
    height: 365px;
}

form, p {
    text-align: left;
}

form {
    background-color: #EEE;
    padding: 20px;
    margin-top: 50px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    margin: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #415B76;
    text-align: center;
    font-size: 14px;
    line-height: 1em;
    color: #FFF;
    cursor: pointer;
    border: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-success {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    color: #ffffff;
    background-color: #47a447;
    border-color: #398439;
}

.btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    color: #ffffff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.btn-lg {
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 18px;
}

.lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.4em;
}

#video {
    display: none;
    z-index: 0;
}

.pointer {
    cursor: pointer;
}

footer {
    margin: 30px auto;
    text-align: center;
}

.heart {
    font-style: normal;
    font-weight: 500;
    color: #c0392b;
}

#twitter {
    position: absolute;
    top: 20px;
    left: 20px;
}

#github {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    border: 0;
    width: 149px;
    height: 149px;
}


/* Custom Reverse */
.custom-reverse {
    background: url('woodenfloor.jpg');
    border: 5px solid rgba(0, 0, 0, .2);
}